.space {
    margin-bottom: 20px;
}

.gray-bg {
    background-color: #5f6366;
}

.gray {
    color: #5f6366;
}

.darkblue-bg {
    background-color: #4d6d9a;
}

.darkblue {
    color: #4d6d9a;
}

.blue-bg {
    background-color: #86b3d1;
}

.blue {
    color: #86b3d1;
}

.lightblue-bg {
    background-color: #99ced3;
}

.lightblue {
    color: #99ced3;
}

.pink-bg {
    background-color: #edb5bf;
}

.pink {
    color: #edb5bf;
}