.space {
    margin-bottom: 20px;
}

.gray-bg {
    background-color: #5f6366;
}

.gray {
    color: #5f6366;
}

.darkblue-bg {
    background-color: #4d6d9a;
}

.darkblue {
    color: #4d6d9a;
}

.blue-bg {
    background-color: #86b3d1;
}

.blue {
    color: #86b3d1;
}

.lightblue-bg {
    background-color: #99ced3;
}

.lightblue {
    color: #99ced3;
}

.pink-bg {
    background-color: #edb5bf;
}

.pink {
    color: #edb5bf;
}

.navbar-sizer {
    /* font-size: 50px; */
    font-size: 40px;
    margin-top: 10px;

}

.text-markazi {
    font-family: 'Markazi Text', serif;
}

.text-questrial {
    font-family: 'Questrial', sans-serif;
}

.text-openSans {
    font-family: 'Open Sans', sans-serif;
}

/* .navbar-hover:hover { */
    /* color: #edb5bf; */
    /* background-color: #4d6d9a; */
    /* background-color: #edb5bf; */
/* } */

/* .navbar-text:hover {
    color: #edb5bf;
} */
/* 
.navbar-text {
    color: #edb5bf;
} */

.nav-link:hover {
    color: #edb5bf !important;
    background-color: #4d6d9a !important;
}

.navbar-sizer2 {
    font-size: 30px;
}

/* a:hover {
    color: #edb5bf;
} */

/* a:hover { 
    color: #edb5bf !important; 
} */
